/* Button for opening Modal  */
.create-new {
	display: flex;
	justify-content: center;
	margin-top: 10%;
}


/* Modal  */
.modalCreateNew {
	max-width: 600px;
	margin: auto;
}
.modalCreateNew__header {
}
.modalCreateNew__imgHeader {
	position: relative;
}
.modalCreateNew__imgHeader img {
	width: 100%;
}
.modalCreateNew__back {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 5%;
	left: 3%;
	border-radius: 50%;
	background-color: #feffff;
	border: unset;
  cursor: pointer;
}
.modalCreateNew__back:hover {
  opacity: 0.9;
}
.modalCreateNew__back i {
	color: #b9b9b9;
}
.pi {
}
.pi-arrow-left {
}
.modalCreateNew__imgTitle {
	color: #030303;
	font-size: 25px;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
}
.modalCreateNew__imgLink {
	color: #b8e2d6;
	font-size: 18px;
	font-weight: 600;
	background-color: #f8f8fa;
	padding: 5px;
	border-radius: 3px;
	margin-left: 15px;
	margin-right: 15px;
}
.modalCreateNew__deOrdtitle {
	color: #668ac7;
	font-size: 18px;
	font-weight: bold;
	margin: 20px 15px 15px 15px;
}
.detail-order__divider {
	background-color: #f9f9f9;
	width: 100%;
	height: 2px;
}
.modalCreateNew__detail {
	margin: 20px 15px;
}
.detail-order {
}
.detail-order__source {
	margin: 7px 0;
}
.detail-order__source #source,
.detail-order__source textarea {
	width: 100%;
	background-color: #f9f9fb;
	border: unset;
	border-radius: 5px;
	font-size: 20px;
}

.detail-order__inputTitle {
	margin-bottom: 10px;
	font-size: 22px;
}
.p-field {
}
.ng-invalid {
}
.ng-dirty {
}
.p-error {
}
.detail-order__row {
	display: flex;
	justify-content: space-between;
}
.budget {
	margin: 0;
	width: 48%;
}
.detail-order__number {
	width: 48%;
}
.p-col-12 {
}
.p-md-3 {
}
.detail-order__selectOptions {
}
.detail-order__soptTitle {
	width: 100%;
	height: 40px;
	padding: 10px 15px;
	background: #e5e5e5;
	font-weight: bold;
}
.p-field-radiobutton {
	margin-bottom: 30px;
}
.p-field-radiobutton ul {
	list-style-type: none;
	padding-inline-start: unset;
	padding: 10px 15px 5px 15px;
	margin: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.p-field-radiobutton ul:last-child {
	border: unset;
}
.p-field-radiobutton ul li {
	display: flex;
	/* justify-content: space-between; */
	font-weight: 400;
	font-size: 20px;
}
.p-field-radiobutton ul li label {
	width: 45%;
}
.p-field-radiobutton ul li .percent {
	color: rgba(0, 0, 0, 0.35);
	width: 57%;
}
.submit {
	position: relative;
	width: 100%;
	margin: 0 15px;
	width: calc(100% - 30px);
	font-size: 22px;
	font-weight: 700;
}
.submit__icon {
	position: absolute;
	left: 15px;
}
.submit__count {
	position: absolute;
	right: 15px;
}
.setBorder {
	border: 1.5px solid red !important;
}
